:root {
  --white-text: rgba(255, 255, 255, 1);
  --white-text06: rgba(255, 255, 255, 0.6);
  --black-text: rgba(33, 33, 33, 1);
  --blue-hover: rgba(33, 150, 243, 1);
  --grey-text: rgba(117, 117, 117, 1);
}
li {
  list-style-type: none;
}
/* Утилитарти */

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
  /* outline: solid 2px tomato; */
}

.bcg-section {
  background-color: rgba(47, 48, 58, 1);
}
/* Навигация */
.navi-flex {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
  flex-direction: row;
}
.logo {
  color: var(--blue-hover);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-text-frt {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.logo-text {
  color: var(--blue-hover);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
}
.site-nav {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  color: var(--black-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--blue-hover);
}
.contacts {
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--blue-hover);
}
.contacts-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}
.contacts-list .mail {
  padding-right: 50px;
}
.site-nav .nav-text-s {
  color: var(--blue-hover);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* Кнопки */

.btn-title,
.a-title {
  color: var(--white-text);
}

.btn {
  color: var(--black-text);
}
.btn:hover,
.btn:focus {
  color: var(--white-text);
}

.title {
  color: var(--black-text);
}
.text {
  color: var(--grey-text);
}
/* Футер */
.logo-footer {
  color: var(--white-text);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.container .footer {
  padding: 60px 0 60px 0;
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.footer-address p {
  margin: 0;
}
.footer-list {
  padding: 0;
  margin: 0;
}
.footer-list li {
  margin-top: 9px;
}
.addres,
.a-title {
  color: var(--white-text06);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-decoration: none;
}
